<div>
    <label>
        Name
        <input type="text" ng-model="selector.name" />
    </label>
</div>

<div>
    <label>
        Query
        <input type="text" ng-model="selector.query" />
    </label>
</div>

<div ng-show="selector.type === 'attribute' || selector.type === 'url'">
    <label>
        Attribute
        <input type="text" ng-model="selector.attribute" />
    </label>
</div>

<div>
    <label>
        Type
        <select 
            ng-model="selector.type"
            ng-options="type.value as type.label for type in types"
            >
        </select>
    </label>
</div>

<a ng-show="adding" href="#/selectors/{{parent.id}}" ng-click="add()">add</a>
<a ng-show="!adding && (selector.type === 'element' || selector.type === 'url')" href="#/selectors/{{selector.id}}"> | edit selectors</a>
<a href="#/selectors/{{parent.id}}"> | back</a>