<div>
    <label>
        Name
        <input type="text" ng-model="selector.name" />
    </label>
</div>

<div>
    <label>
        XPath
        <input type="text" ng-model="selector.xpath" />
    </label>
</div>

<div>
    <label>
        Type
        <select 
            ng-model="selector.type"
            ng-options="type.value as type.label for type in types"
            >
        </select>
    </label>
</div>

<a ng-show="adding" href="#/selectors/{{parent.id}}" ng-click="add()">add</a>
<a ng-show="!adding" href="#/selectors/{{selector.id}}"> | edit selectors</a>
<a href="#/selectors/{{parent.id}}"> | back</a>